.contains {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 10vmin 0;
  .step_flow {
    @include flex-center;
    padding: 30px 0;
    width: 100%;
    cursor: default;
    .step1, .step2 {
      @include flex-center;
      flex-direction: column;
    }
    .step {
      height: 40px;
      width: 40px;
      border: $cornflowerblue 2px solid;
      color: $cornflowerblue;
      border-radius: 50%;
      line-height: 40px;
      margin: 10px;
      &.active {
        background: $cornflowerblue;
        color: $white;
      }

      &.done {
        border: lighten($green, 25%) 2px solid;
        background: lighten($green, 25%);
        color: $white;
      }
      .hide {
        display: none;
      }
    }
    .step_line {
      width: 150px;
      height: 2px;
      background: rgba(0, 0, 0, .1);
      margin: 30px;
      transform: translateY(-10px);
    }
  }
  .info {
    @include flex-center;
    flex-direction: column;
    background: $white;
    width: 40%;
    padding: 2% 15%;
    .hide {
      display: none;
    }
    .diploma {
      width: 100px;
    }
    .detail {
      width: 100%;
      @include flex-center;
      .hide {
        display: none;
      }
      .input_name {
        width: 100%;
        .forename, .surname {
          @include flex-center;
          align-items: flex-start;
          flex-direction: column;
          padding: 1em 0;
          span {
            margin: 10px 0;
          }
          input {
            width: 100%;
            padding: 10px;
          }
        }
      }
      .credit_check {
        flex-direction: column;
        border: 1px solid rgba(black, 0.2);
        padding: 10px 20px;
        margin: 10px 0;
        .payment {
          transform: scale(0.8);
        }
        .icons > i {
          margin: 10px 5px;
          font-size: 40px;
          color: red;
        }
      }
    }
    .action {
      display: flex;
      width: 100%;
      margin: 10px 0;
      flex-direction: row;
      &.first_step {
        justify-content: flex-end;
      }
      &.second_step {
        justify-content: space-between
      }
      .btn_next, .btn_prev {
        @include flex-center;
        width: 100px;
        padding: 10px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
        justify-content: space-between;
        &.hide {
          display: none;
        }
      }
      .btn_next {
        background: $cornflowerblue;
        color: $white;
        border: $cornflowerblue 1px solid;
      }
      .btn_prev {
        background: $white;
        color: $cornflowerblue;
        border: 2px solid $cornflowerblue;
      }
    }
  }
}