.nav_bar {
  background: $white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15%;
  i {
    margin: 0 5px;
  }
  .sign_in {
    margin: 0 2em;
  }

  .langs {
    display: flex;
  }
}
